.Header{
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 100;

  


}

.Left-Section{

  display: flex;
  /*background-color: lightblue;*/
  width: 250px;
  align-items: center;

}
.Middle-Section{
  /*background-color: lightgreen;*/
  flex: 1;
  margin-left: 80px;
  margin-right: 35px;
  max-width: 680px;
  display: flex;
  align-items: center;
}
.Right-Section{
  /*background-color: lightpink;*/
  width: 220px;
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;


}

.Hamburger-Menu{

  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
  border-radius: 30px;


}

.Hamburger-Menu:hover{
  background-color: rgb(201, 200, 200);
}

.YouTube-Logo{

  cursor: pointer;

}

.Search-Bar{

  flex: 1;
  height: 36px;
  border-radius: 20px;
  border-width: 1px;  
  border-style: solid;
  border-color: lightgrey;
  width: 0;
  padding-left: 20px;
  padding-top: 2px;
  
  
}

.Search-Bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
  color: rgb(180, 180, 180);
  
}

.Search-Button{
  color: rgb(248, 248, 248);
  height: 41px;
  width: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-width: 1px;  
  border-style: solid;
  border-color: lightgrey;
  margin-left: -35px;
  cursor: pointer;

  position: relative;
  
 
}

.Search-Button-Icon{
  border-radius: 30px;
  margin-top: 3%;
 
}

.Search-Button .Tooltip{

  position: absolute;
  background-color: rgba(0, 0, 0, 0.415);
  width: 65px;
  height: 25px;
  left: -5px;
  bottom: -40px;
  border-radius: 3px;
  text-align: center;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 0.5s;

}

.Search-Button:hover .Tooltip{

  opacity: 1;

}

.Voice-Search-Button{
  color: rgb(248, 248, 248);
  height: 42px;
  width: 42px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 80px;
  border-width: 2px;  
  border-style: none;
  cursor: pointer;
  background-color: rgb(240, 240, 240);

  position: relative;
  

}

.Voice-Search-Button .Tooltip{

  position: absolute;
  background-color: rgba(0, 0, 0, 0.415);
  width: 150px;
  height: 25px;
  left: -50px;
  bottom: -40px;
  border-radius: 3px;
  text-align: center;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 0.5s;

}

.Voice-Search-Button:hover .Tooltip{
  opacity: 1;
}

.Voice-Search-Button:hover{
  background-color: rgb(201, 200, 200);

}

.VoiceSearch-Button-Icon{
  margin-top: 3px;
  height: 24px;
}

.Create-Button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100px;
  height: 38px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}



.Create-Button:hover{
  background-color: rgb(201, 200, 200);


}
.Create-Button-Icon{

  margin: 0px;
  margin-left: -8px;
  height: 22px;
  width: 22px;
  
}
.Create-ButtonText{
  font-family: Roboto, Arial;
  margin: 0px;
  margin-left: 10px;
  font-size: 14px;
  
}

.Notifications-Button{

  background-color: rgb(255, 255, 255);
  height: 42px;
  width: 42px;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;

  position: relative;
}

.Notifications-Button .Tooltip{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.415);
  width: 85px;
  height: 25px;
  left: -25px;
  bottom: -50px;
  border-radius: 3px;
  color: white;
  text-align: center;
  padding-top: 10px;
  opacity: 0;
  transition: opacity 0.5s;

}

.Notifications-Button:hover .Tooltip{
  opacity: 1;
}

.Notifications-Button:hover{

  background-color:rgb(228, 228, 228);

 
}



.Notification-Button-Icon{
  margin-top: 3px;
}

.UserProfile-Button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.Notifications-Icon-Container{

  position: relative;

}

.Notifications-Count{
  background-color: rgb(200, 4, 4);
  color: wheat;
  font-family: Roboto, Arial;
  font-size: 12px;
  border-radius: 200px;
  position: absolute;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  top: -3px;
  right: -3px;
}


.UserProfile-Icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: none;

}



